OPENAI_API_KEY=sk-proj-xxx
GOOGLE_API_KEY=Xxx

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT="ai-assessment"

